version: '3.8'

services:
  nacos:
    image: nacos/nacos-server:v2.2.0
    container_name: nacos
    environment:
      - MODE=standalone
      - PREFER_HOST_MODE=hostname
    ports:
      - "8848:8848"
      - "9848:9848"
    networks:
      - config-network

networks:
  config-network:
    driver: bridge

