name: 部署测试
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.12.0
        uses: actions/setup-node@v4
        with:
          node-version: "22.12.0"
      - name: 安装 pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.23.0
      # - name: create env file
      #   run: |
      #     touch .env
      #     echo VITE_CLIENT_ID=${{ secrets.CLIENT_ID }} >> .env
      #     echo VITE_CLIENT_SECRET=${{ secrets.CLIENT_SECRET }} >> .env
      - name: install and build
        run: |
          pnpm install
          pnpm build
      - name: 部署到 github-page...
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          branch: gh-pages
          folder: docs/.vitepress/dist
          clean: true
          # clean-exclude: |
          #   .env
